* {
  font-family:      Arial;
}

.c-linklist {
  
  border:           1px solid gray;
  padding:          1em;
  border-radius:    5px;
  margin-bottom:    1em;
  
}

.c-linklist > div {

  background-color: rgba(230, 230, 230, 0.7);
  border-radius:    5px;
  padding:          1em;
  margin-bottom:    1em;
  display:          flex;
    
}

.left {
  justify-content:  flex-start;
}

.center {
  justify-content:  center;
}

.right {
  justify-content:  flex-end;
}